# Create pandas series

In [1]:
import pandas as pd
import numpy as np

## 1. Using data structures

### 1.1. Lists

In [2]:
list1 = [11, 22, 33, 44, 55]

df1 = pd.Series(list1)

df1

0    11
1    22
2    33
3    44
4    55
dtype: int64

### 1.2. Tuples

In [3]:
tuple1 = (11, 22, 33, 44, 55)

df2 = pd.Series(tuple1)

df2

0    11
1    22
2    33
3    44
4    55
dtype: int64

### 1.3. Dictionaries

In [4]:
dict1 = {0: 11, 1: 22, 2: 33, 3: 44, 4: 55}

df3 = pd.Series(dict1)

df3

0    11
1    22
2    33
3    44
4    55
dtype: int64

## 2. Using numpy

In [5]:
np1 = np.array([11, 22, 33, 44, 55])

df_np = pd.Series(np1)

df_np

0    11
1    22
2    33
3    44
4    55
dtype: int64

## 3 Using scalars

In [6]:
scalar1 = pd.Series(11, index=[0, 1, 2, 3, 4])

scalar1

0    11
1    11
2    11
3    11
4    11
dtype: int64