# Create pandas series - Customized indices & datatypes, access elements, and operations

In [1]:
import pandas as pd
import numpy as np

In [2]:
series1 = pd.Series([11, 22, 33, 44, 55])

In [6]:
series1

0    11
1    22
2    33
3    44
4    55
dtype: int64

## 1. Change datatypes

In [4]:
series2 = pd.Series([11, 22, 33, 44, 55], index=['a', 'b', 'c', 'd', 'e'], dtype='float')

series2

a    11.0
b    22.0
c    33.0
d    44.0
e    55.0
dtype: float64

In [17]:
series2_int = pd.Series([int(i) for i in series2])

series2_int

0    11
1    22
2    33
3    44
4    55
dtype: int64

## 2. Access elements

In [7]:
series1[0]

11

In [8]:
series2[2:4]

c    33.0
d    44.0
dtype: float64

## 3. Operations

### 3.1. Addition

In [18]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([10, 20, 30, 40, 50])

s1 + s2

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [19]:
series1 + series2_int

0     22
1     44
2     66
3     88
4    110
dtype: int64

### 3.2. Subtraction

In [20]:
s2 - s1

0     9
1    18
2    27
3    36
4    45
dtype: int64

In [21]:
series2_int - series1

0    0
1    0
2    0
3    0
4    0
dtype: int64

### 3.3. Multiplication

In [22]:
s1 * s2

0     10
1     40
2     90
3    160
4    250
dtype: int64

In [24]:
series1 * series2_int

0     121
1     484
2    1089
3    1936
4    3025
dtype: int64

### 3.4. Division

In [25]:
s2 / s1

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
dtype: float64

In [30]:
s1 / s2

0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

In [26]:
series2_int / series1

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

### 3.5. Power

In [28]:
(s1 + s2) ** 2

0     121
1     484
2    1089
3    1936
4    3025
dtype: int64

In [29]:
(series1 + series2_int) ** 2

0      484
1     1936
2     4356
3     7744
4    12100
dtype: int64

## 4. Exercise

In [32]:
s3 = pd.Series([1, 2, 3, 4], index=[0, 1, 2, 3], dtype='int')
s4 = pd.Series([10, 20, 30, 40], index=[0, 1, 2, 3], dtype='int')

In [33]:
s3 // s4

0    0
1    0
2    0
3    0
dtype: int64

In [34]:
s3 / s4

0    0.1
1    0.1
2    0.1
3    0.1
dtype: float64