# loc, iloc with booleans

In [1]:
import pandas as pd

In [2]:
students_score = {
    'Name' : ['Paul', 'Aaron', 'Krista', 'Veronica', 'Paxton', 'Madison', 'Aurora'],
    'Score': [98, 89, 99, 87, 90, 83, 82],
    'Grades': ['AA', 'AB', 'AA', 'AC', 'AB', 'BA', 'BB']
}

df_students = pd.DataFrame(students_score, index=['s1', 's2', 's3', 's4', 's5', 's6', 's7'])

df_students

        Name  Score Grades
s1      Paul     98     AA
s2     Aaron     89     AB
s3    Krista     99     AA
s4  Veronica     87     AC
s5    Paxton     90     AB
s6   Madison     83     BA
s7    Aurora     82     BB

## loc

### Access rows and columns by labels or boolean arrays

The size of the boolean arrays must be the same as the dataframe size

This is useful for filtering and subsetting data

`dataframe.loc[rows(string), columns(string)]`

In [4]:
df_students.loc[[False, False, False, False, False, False, False]]

Empty DataFrame
Columns: [Name, Score, Grades]
Index: []

In [5]:
df_students.loc[[True, False, False, True, False, False, True]]

        Name  Score Grades
s1      Paul     98     AA
s4  Veronica     87     AC
s7    Aurora     82     BB

with columns

In [6]:
df_students.loc[[False, True, False, False, False, True, False], [True, True, False]]

       Name  Score
s2    Aaron     89
s6  Madison     83

### 1. Name of s1 and s2

In [8]:
df_students.loc[[True, True, False, False, False, False, False], [True, False, False]]

     Name
s1   Paul
s2  Aaron

### 2. Grades of s1 and s5

In [10]:
df_students.loc[[True, False, False, False, True, False, False], [False, False, True]]

   Grades
s1     AA
s5     AB

### 3. Score of s4

In [13]:
df_students.loc[[False, False, False, True, False, False, False], [False, True, False]]

    Score
s4     87

## iloc

We can apply this technique using iloc

In [16]:
df_students.iloc[[False, True, False, False, False, True, False], [True, True, True]]

       Name  Score Grades
s2    Aaron     89     AB
s6  Madison     83     BA