# Read CSV, excel and TSV files from any directory

In [2]:
import pandas as pd

## 1. Comma separated values (CSV)

In [3]:
df_students = pd.read_csv("./datasets/students_score_no_index.csv")

In [4]:
df_students

       Name  Score Grades
0      Paul     98     AA
1     Aaron     89     AB
2    Krista     99     AA
3  Veronica     87     AB
4    Paxton     90     AC
5   Madison     83     BA
6    Aurora     82     BB

## 2. Excel files

In [9]:
df_iris = pd.read_excel("./datasets/iris.xlsx", sheet_name="Sheet1")

In [10]:
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [11]:
df_iris.loc[:2, ['SepalLengthCm']]

   SepalLengthCm
0            5.1
1            4.9
2            4.7

## 3. Tab separated values (TSV)

In [12]:
review_comments = pd.read_table("./datasets/Restaurant_Reviews.tsv")

review_comments.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

## 4. Read TSVs with `read_csv()`

In [14]:
reviews_csv = pd.read_csv("./datasets/Restaurant_Reviews.tsv", sep="\t")

reviews_csv.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1