# `read_csv()` - `nrows` parameter

`nrows` parameter is used when we want to read samples of large datasets.
Basically it enables us to read number of rows of data from the dataset

In [1]:
import pandas as pd

In [4]:
df_student_sample = pd.read_csv("./datasets/students_score_no_index.csv", nrows=3)

df_student_sample

     Name  Score Grades
0    Paul     98     AA
1   Aaron     89     AB
2  Krista     99     AA