# `read_csv` `true_values` & `false_values` parameter

Converting custom true and false values to boolean (True / False)

In [1]:
import pandas as pd

## 1. Basic read

In [4]:
df_std_att = pd.read_csv("./datasets/students_score_att.csv")

In [5]:
df_std_att

       Name  Score Grades Attended
0      Paul     98     AA      Yes
1     Aaron     89     AB      Yes
2    Krista     99     AA      Not
3  Veronica     87     AB      Yes
4    Paxton     90     AC       No
5   Madison     83     BA      Yes
6    Aurora     82     BB       No

## 2. Read with `true_values` and `false_values`

In [6]:
df_std_att_bool = pd.read_csv("./datasets/students_score_att.csv", true_values=["Yes"], false_values=["No", "Not"])

In [7]:
df_std_att_bool

       Name  Score Grades  Attended
0      Paul     98     AA      True
1     Aaron     89     AB      True
2    Krista     99     AA     False
3  Veronica     87     AB      True
4    Paxton     90     AC     False
5   Madison     83     BA      True
6    Aurora     82     BB     False

## 3. Find how many students were absent

In [8]:
# length of the data subtracted by sum of true values in attended column
len(df_std_att_bool) - df_std_att_bool["Attended"].sum()

3