# Pandas HTML - Read tables from web

In [1]:
import pandas as pd

In [2]:
cities_url = "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population"

In [3]:
cities_data = pd.read_html(cities_url)

In [4]:
type(cities_data)

list

In [5]:
len(cities_data)

10

In [8]:
cities_data[2]

            City  ST 2022 estimate 2020 census  Change 2020 land area          \
            City  ST 2022 estimate 2020 census  Change            mi2     km2
0    New York[c]  NY       8335897     8804190  −5.32%          300.5   778.3
1    Los Angeles  CA       3822238     3898747  −1.96%          469.5  1216.0
2        Chicago  IL       2665039     2746388  −2.96%          227.7   589.7
3        Houston  TX       2302878     2304580  −0.07%          640.4  1658.6
4        Phoenix  AZ       1644409     1608139  +2.26%          518.0  1341.6
..           ...  ..           ...         ...     ...            ...     ...
328       Albany  NY        100826       99224  +1.61%           21.4    55.4
329     Hesperia  CA        100744       99818  +0.93%           72.7   188.3
330  New Bedford  MA        100682      101079  −0.39%           20.0    51.8
331    Davenport  IA        100486      101724  −1.22%           63.8   165.2
332    Daly City  CA        100007      104901  −4.67%            7.6    19.7

    2020 density                                                  Location
           / mi2  / km2                                           Location
0          29298  11312  .mw-parser-output .geo-default,.mw-parser-outp...
1           8304   3206              34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
2          12061   4657                41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
3           3599   1390                29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
4           3105   1199              33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
..           ...    ...                                                ...
328         4637   1790                42°40′N 73°48′W﻿ / ﻿42.67°N 73.80°W
329         1373    530              34°24′N 117°19′W﻿ / ﻿34.40°N 117.32°W
330         5054   1951                41°40′N 70°56′W﻿ / ﻿41.66°N 70.94°W
331         1594    615                41°34′N 90°36′W﻿ / ﻿41.56°N 90.60°W
332        13803   5329              37°41′N 122°28′W﻿ / ﻿37.69°N 122.47°W

[333 rows x 10 columns]

In [9]:
len(cities_data[2])

333