# Fetching and sampling random values from a dataset

`df.sample(` <br>
    `n=None,` <br>
    `frac=None,` <br>
    `replace=False,` <br>
    `weights=None,` <br>
    `random_state=None,` <br>
    `axis=None,` <br>
`)`

Note : `n` and `frac` cannot be used together

In [2]:
import pandas as pd

In [3]:
df_iris = pd.read_csv("./datasets/iris.csv")

In [4]:
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
df_iris['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

# Syntax and parameters

`df.sample(` <br>
    `n=None,` <br>
    `frac=None,` <br>
    `replace=False,` <br>
    `weights=None,` <br>
    `random_state=None,` <br>
    `axis=None,` <br>
`)`

Note : `n` and `frac` cannot be used together

## 1. Fetch 5 random samples from the dataset

In [8]:
df_iris.sample(
    n=5
)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
9,10,4.9,3.1,1.5,0.1,Iris-setosa
144,145,6.7,3.3,5.7,2.5,Iris-virginica
89,90,5.5,2.5,4.0,1.3,Iris-versicolor
1,2,4.9,3.0,1.4,0.2,Iris-setosa
58,59,6.6,2.9,4.6,1.3,Iris-versicolor

## 2. Fetch 10% of data from the dataset (frac parameter)

In [12]:
df_iris.sample(frac=0.10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
88,89,5.6,3.0,4.1,1.3,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
84,85,5.4,3.0,4.5,1.5,Iris-versicolor
13,14,4.3,3.0,1.1,0.1,Iris-setosa
126,127,6.2,2.8,4.8,1.8,Iris-virginica
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
117,118,7.7,3.8,6.7,2.2,Iris-virginica
24,25,4.8,3.4,1.9,0.2,Iris-setosa
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
35,36,5.0,3.2,1.2,0.2,Iris-setosa
75,76,6.6,3.0,4.4,1.4,Iris-versicolor
116,117,6.5,3.0,5.5,1.8,Iris-virginica
15,16,5.7,4.4,1.5,0.4,Iris-setosa

## 3. Random state parameter

Give the same output samples every run

In [16]:
df_iris.sample(n=3, random_state=200)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
84,85,5.4,3.0,4.5,1.5,Iris-versicolor
122,123,7.7,2.8,6.7,2.0,Iris-virginica
28,29,5.2,3.4,1.4,0.2,Iris-setosa

## 4. Replace parameeter

Repeat samples occurence in for every next run

In [17]:
data_sample = {
    'Name' : ['Robert', 'Craig', 'Frank', 'Jordyn', 'Isabel'],
    'Score': [98, 89, 99, 97, 97]
}

df_sample = pd.DataFrame(data_sample)

df_sample

     Name  Score
0  Robert     98
1   Craig     89
2   Frank     99
3  Jordyn     97
4  Isabel     97

In [53]:
df_sample.sample(n=2, replace=False)

     Name  Score
1   Craig     89
3  Jordyn     97

## 5. Axis parameter

In [54]:
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Getting 5 random rows (`axis=0`) from the dataset

In [55]:
df_iris.sample(n=5, axis=0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
125,126,7.2,3.2,6.0,1.8,Iris-virginica
5,6,5.4,3.9,1.7,0.4,Iris-setosa
111,112,6.4,2.7,5.3,1.9,Iris-virginica
115,116,6.4,3.2,5.3,2.3,Iris-virginica
119,120,6.0,2.2,5.0,1.5,Iris-virginica

Getting 2 random columns (`axis=1`) from the dataset

In [60]:
df_iris.sample(n=2, axis=1)

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

## 6. Weights parameter

In [61]:
data_sample = {
    'Name' : ['Robert', 'Craig', 'Frank', 'Jordyn', 'Isabel'],
    'Score': [98, 89, 99, 97, 97]
}

df_sample = pd.DataFrame(data_sample)

df_sample

     Name  Score
0  Robert     98
1   Craig     89
2   Frank     99
3  Jordyn     97
4  Isabel     97

Set probability values (weighting) for sampling dataset

In [62]:
# Set weights (probability)
w = [0.25, 0.45, 0.8, 0.34, 0.2]

df_sample.sample(n=3, weights=w)

     Name  Score
2   Frank     99
4  Isabel     97
1   Craig     89

Note: Weights and axis (rows) to be sampled must be of same length

## 7. Pandas series

In [63]:
df_sample['Name']

0    Robert
1     Craig
2     Frank
3    Jordyn
4    Isabel
Name: Name, dtype: object

In [64]:
type(df_sample['Name'])

pandas.core.series.Series

In [65]:
df_sample['Name'].sample(n=2)

2     Frank
3    Jordyn
Name: Name, dtype: object